<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>To do List</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <div id="my_root">
         <header>
            <img src="img/bool.jpg" alt="Logo Boolean">
            <h1>boolean</h1>
         </header>
         <main>
            <section id="searchBar" >
               <input v-model="elToAdd" type="text" maxlength="50" placeholder="Nuovo Todo">
               <button @click="addElement">Aggiungi</button>
            </section>
            <section>
               <ul v-if="show()" id="list">
                  <li v-for="(el,index) in userArray" :class="el.colorClass ? 'red' : null" @click="color(index)">
                     <span>{{el.myInput}}</span>
                     <i @click.stop="removeElement(index)" class="fa fa-times" aria-hidden="true"></i>
                  </li>
               </ul>
            </section>
         </main>
      </div>
      <script src="js/main.js"></script>
   </body>
</html>
